/* Setting the color for the body of the website page */
body {    
    background-color: #262626;
    color: #ffffff;
    margin: 0px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 1rem;
}
/* Centering alignment of the content in the header element */
header {
    text-align: center;
}
/* Centering alignment of the content in the article element */
article {
    text-align: center;
}
/* Styling the list element */ 
li {
    text-align: left; /* Aligning the content to the left in the list elements */
    margin-bottom: 10px; /* Adds spacing at the bottom of each list item */
}
/* Styling the table elements */
table {
    width: 100%;
}
table, td, th {
    border:1px solid #000000;
}
th {
    background-color:#1b1b1b;
    color:#ffffff;
}
.th_1 {
    width: 20%;
}
.th_2 {
    width: 40%;
}
/* Styling the hyperlink element and it's states */
a:link {
    color: #7fffd4;
    text-decoration: none;
    padding: 5px 5px;
}
/* Setting the text color when the hyperlink element has been visited */
a:visited {
    color: #43fc00;
    padding: 4px 4px;
}
/* Setting the text color when the cursor is hovering over the the hyperlink element */
a:hover {
    color: #8732cc;
    background-color: #00ffaa;
    border: 1px solid #8732cc;
    border-radius: 3px;
    border-color: #7fffd4;
    padding: 4px 4px;
    margin: 2px 2px;
    box-shadow: -0.5px 0.5px 5px #43fc00;
}
a:active {
    color: #43fc00;
    background-color: #8732cc;
    border: 1px solid #43fc00;
    border-radius: 5px;
    border-color: #a256e0;
    padding: 4px 4px;
    margin: 2px 2px;
    box-shadow: -0.5px 0.5px 3px #8732cc;
}
/* Styling the navigation element with the class nav_main */
.nav_main {
    top: 0;
    position: sticky;
    background-color: #1b1b1b;
    border-bottom: 1px solid #dddddd; 
    padding: 30px 30px;
    text-align: center;
    min-height: 29.6px;
}
/* Styling the hyperlink element for the directory link and it's hover state */
.span_dir1 {
    font-size: 3rem;
    float: left;
    padding: 0px 16px 6px 16px;
    margin-top: -20px;
}
.span_dir1:hover {
    background-color: #ffffff;
    color: #1b1b1b;
    filter: none;
    border: 1px  solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 2px 15px #ffffff;
    padding: 0px 15px 5px 15px;
}

/* Styling the hyperlink element for the directory link and it's hover state */
.a_dir1 {
    margin-left: 90px;
}
.a_dir1:hover{
    background-color: #ffffffff;
    border: 1px solid #dddddd;
    margin-left: 90px;
    border-radius: 5px;
    box-shadow: 0px 2px 15px #ffffff;
    padding: 15px 3px 0px 3px;
}
.a_dir1:hover img {
    filter: invert(1);
}
.a_dir2 {
    float: right;
    padding: 5px 5px;
    margin: 2px 2px;
}
.span_dir2 {
    float: right;
    color: #dddddd;
    font-size: 1.275rem;
    padding: 3px 5px;
}

/* Styling the navigation element with the class nav_side */
.nav_side {
    height: 100%;
    width: 0;
    position: fixed;
    border-right: 1px solid #1b1b1b;
    top: 0;
    background-color: #1b1b1b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
}
.closebtn_side {
    position: absolute;
    padding: 0px 10px;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.closebtn_side:hover{
    padding: 0px 10px 0px 10px;
    background-color: #ffffff;
    color: #1b1b1b;
    filter: none;
    border: 1px  solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 2px 15px #ffffff;
}
/* Styling the heading 1 element with the class h1_side */
.h1_side {
    display: block;
    text-align: center;
}
/* Styling the heading 3 element with the class h3_side */
.h3_side {
    display: block;
    padding: 4px 4px;
    margin: 2px 2px;
}
.p_side {
    display: block;
    padding: 4px 4px;
    margin: 2px 2px;
}
/* Styling the unordered list element with the class ul_side */
.ul_side {
    display: block;
    list-style: none;
    margin-top: 2px;
}
/* Styling the hyperlink element with the class a_side */
.a_side{
    display: block;
    font-size: large;
    font-weight: bold;
    padding: 4px 4px;
    margin: 2px 2px;
}
/* Styling the section element with the class section_home */
.section_home {
    flex: 1;
    padding-left: 10vw;
    padding-right: 10vw;
}
.header_img{
    margin-top: 15px;
}
/* Styling the paragraph element with the class article_p */
.article_p {
    text-align: justify;
    word-wrap: break-word;
    text-indent: 50px;
}
/* Styling the division element with the class div_image_2 */
.div_home{
    display:flex;
}
/* Styling the division element and the hover state with the class div_home_box */
.div_home_box {
    flex: 1;
    margin: 0.25vh 5vw 0.25vh 5vw;
    padding: 5vh 0vw;
    background-color: #191919;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    font-size: 1.5rem;
    line-height: 0.1rem;
}
.div_home_box:hover {
    color: #ffffff;
    background-color: #1b1b1b;
    text-shadow: -1px 1px 5px #ffffff;
    box-shadow: 0px 2px 15px #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 3vh 0vh;
    font-size: 2rem;
}
/* Styling the hyperlink element hover state with the class a_home_box */
.a_home_box:hover {
    color: #ffffff;
    background-color: #1b1b1b;
    text-shadow: -1px 1px 5px #ffffff;
    box-shadow: 0px 2px 15px #ffffff;
    border: 0px;
    border-radius: 5px;
    padding: 0vh 0vh;
    font-size: 2rem;
}
/* Styling the navigation element with the class div_1 */
.div_1 {
    margin: 20px auto;
    width: 270px;
    background-color: #202020;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
/* Styling the h2 heading element with the class h2_title */
.h2_title {
    margin: 0px;
    background-color: #111111;
    border-bottom: 1px solid #dddddd;
    border-radius: 5px;
    padding-top: 5px;
}

/* Reference form some of the ideas and code for the design */
/* http://sotd.us/devanshepherd/nick/styles.css */
