/* ################################################## */
/* ################################################## */
/* #################### DESKTOP ##################### */
/* ################################################## */
/* ################################################## */

/* Setting the color for the body of the website page */
body {    
    background-color: #262626;
    color: rgba(255, 255, 255, 0.45); /* #898989, rgba(117, 255, 0, 0.19), */
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Centering alignment of the content in the header element */
header {
    position: relative; 
    color: #ffffff;
    text-align: center;
    padding-bottom: 45px;
    z-index: 4;
}

.header_home {
    position: relative; 
    color: #ffffff;
    text-align: center;
    padding-bottom: 0;
    z-index: 4;
}
/* Centering alignment of the content in the article element */
article {
    color: #ffffff;
    position: relative;
    text-align: center;
}

footer {
    text-align: center;
    vertical-align: text-bottom;
    padding-top: 100px;
    padding-bottom: 10px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:link {
    text-decoration: none;
    color: #ffffff;
}
a:visited {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    text-decoration: none;
    color: #00ffaa;
}

span {
    text-decoration: none;
    color: #ffffff;
}
span:link {
    text-decoration: none;
    color: #ffffff;
}
span:visited {
    text-decoration: none;
    color: #ffffff;
}
span:hover {
    text-decoration: none;
    color: #00ffaa;
}



/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/*                  Navigation Menus                  */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

/* Styling the navigation element with the class nav_main */
.nav_main {
    top: 0;
    position: sticky;
    background-color: #262626;
    padding: 30px 30px;
    text-align: center;
    min-height: 29.6px;
    transform: initial;
    z-index: 9;
}
/* Styling the hyperlink element for the directory link and it's hover state */
.nav_main_side_menu_button {
    position: relative;
    font-size: 3rem;
    float: left;
    padding: 0px 15px 5px 15px;
    margin-top: -20px;
    top: -1px;

}
.nav_main_side_menu_button:hover {
    filter: none;
    padding: 0px 15px 5px 15px;
    top: 1px;
}

.nav_main_links_container {
    float: right;
}
/* Styling the hyperlink element for the main links and it's hover state */
.nav_main_links a {
    color: #dddddd;
    float: right;
    padding: 2px 10px;
    margin: 2px 2px;
    text-decoration: none;
}
.nav_main_links a:visited {
    color: #dddddd;
    float: right;
    padding: 5px 10px;
    margin: 2px 2px;
    text-decoration: none;
}
.nav_main_links a:hover {
    float: right;
    padding: 3px 10px;
    color: #00ffaa;
}

/* Styling the navigation element with the class nav_side */
.nav_side {
    height: 100%;
    width: 0;
    position: fixed;
    border-right: 1px solid #1b1b1b;
    top: 0;
    background-color: #1b1b1b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
    z-index: 9;
}
.closebtn_side {
    position: absolute;
    text-align: center;
    top: 0;
    margin: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.closebtn_side div {
    position: relative;
    top: -6px;
    text-align: center;
}
.closebtn_side div:hover{
    color: #ffffff;
}

/* Styling the heading 1 element with the class h1_side */
.h1_side {
    display: block;
    text-align: center;
}
/* Styling the hyperlink element with the class a_side */
.a_side{
    display: block;
    font-size: large;
    font-weight: bold;
    padding: 4px 4px;
    margin: 2px 2px;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/*                      Home Page                     */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

/* Styling the section element with the class section_home */
.section_home {
    flex: 1;
    padding-left: 10vw;
    padding-right: 10vw;
}

.home_header_img{
    margin-top: 15px;
}

.article_home_h1{
    font-size: 3rem;
}
.article_home_hr{
    position: relative; 
    bottom: 1rem; 
    width: 192px;
}

/* Styling the division element with the class div_image_2 */
.div_home_p{
    padding-bottom: 45px;
}
/* Styling the division element with the class div_image_2 */
.div_home_div {
    display:grid;
}

.div_home_a {
    display:flex;
    padding: 3vh;
}


/* Styling the hyperlink element hover state with the class a_home_box */
.a_home_box {
    flex: 1;
    margin: 0.25vh 5vw 0.25vh 5vw;
    padding: 3vh;
    background-color: rgba(25, 25, 25, 1);
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    line-height: 0.1rem;
    z-index: 4;

}
.a_home_box:hover {
    color: #ffffff;
    padding-bottom: 0vh;
    background-color: #1b1b1b;
    box-shadow: 0px 2px 15px #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 1.75rem;
}

.a_home_box_2 {
    flex: 1;
    margin: 0.25vh 5vw 0.25vh 5vw;
    padding: 3vh;
    background-color: rgba(25, 25, 25, 1);
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    line-height: 0.1rem;
    z-index: 4;

}
.a_home_box_2:hover {
    color: #ffffff;
    padding-bottom: 1.2rem;
    background-color: #1b1b1b;
    box-shadow: 0px 2px 15px #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 1.75rem;
}

.a_home_box_blank {
    flex: 1;
    margin: 0.25vh 5vw 0.25vh 5vw;
    padding: 3vh;
    background-color: #262626;
    border: 0px solid #262626;
    border-radius: 5px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    font-size: 1.5rem;
    line-height: 0.1rem;
    z-index: 4;

}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/*                        Game                        */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

.game_body {
    background-color: #262626;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game_body_trafficracer {
    background-color: #1e1e1e;
    border: 2px solid #dddddd;
    justify-content: center;
    align-items: center
}

.game_canvas_breakout {
    background-color: #1e1e1e;
    border: 2px solid #dddddd;
    justify-content: center;
    align-items: center;
}
.game_canvas_trafficracer {
    background-color: #808080;
    display: block;
    margin: 0 auto;
}
.section_game {
    justify-content: center;
    align-items: center;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/*                   Box Platformer                   */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

.body_boxplatformer { 
    margin: 0; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #262626;
    
    color: rgba(255, 255, 255, 0.45); /* #898989, rgba(117, 255, 0, 0.19), */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
.canvas_boxplatformer { 
    background-color: #000000; 
    border: 2px solid #ffffff; 
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/*                   About Me Page                    */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
.aboutme_header_img{
    margin-top: 15px;
    position: relative; 
    top: 40px; 
    transform: scale(1.3); 
    z-index: 0;
}

.aboutme_article_h1{
    font-size: 2.5rem;
}

.aboutme_article_hr{
    position: relative; 
    bottom: 2.5rem; 
    width: 175px;
}

/* Styling the navigation element with the class div_1 */
.aboutme_article_div {
    margin: 20px auto;
    width: 270px;
    background-color: #202020;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
/* Styling the h2 heading element with the class h2_title */
.aboutme_article_div_h2 {
    margin: 0px;
    background-color: #111111;
    border-bottom: 1px solid #dddddd;
    border-radius: 5px;
    padding-top: 5px;
}

/* Styling the list element */ 
li {
    text-align: left; /* Aligning the content to the left in the list elements */
    margin-bottom: 10px; /* Adds spacing at the bottom of each list item */
}
/* Styling the table elements */
table {
    width: 100%;
}
table, td, th {
    border:1px solid #000000;
}
th {
    background-color:#1b1b1b;
    color:#ffffff;
}
.th_1 {
    width: 20%;
}
.th_2 {
    width: 40%;
}

/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/*               Under Construction Page              */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

.UC_article {
    line-height: 200px; 
    min-height: 320px;
}

.UC_article_p {
    display: inline-block; 
    vertical-align: middle;
    color: yellow;
    font-size: 3rem;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* Styling the heading 3 element with the class h3_side */
.h3_side {
    display: block;
    padding: 4px 4px;
    margin: 2px 2px;
}
.p_side {
    display: block;
    padding: 4px 4px;
    margin: 2px 2px;
}
/* Styling the unordered list element with the class ul_side */
.ul_side {
    display: block;
    list-style: none;
    margin-top: 2px;
}

/* Styling the paragraph element with the class article_p */
.article_p {
    text-align: justify;
    word-wrap: break-word;
    text-indent: 50px;
}

/* ################################################## */
/* ################################################## */
/* #################### MOBILE ###################### */
/* ################################################## */
/* ################################################## */

/*  Menu Bar  */
@media screen and (max-width: 1080px) {
    .nav_main {
        position: sticky;
        background-color: #262626;
        padding: 10px 10px;
        min-height: 50px;
        z-index: 9;
    }
}

/*  Menu Bar Button  */
@media screen and (max-width: 1080px) {
    .nav_main_side_menu_button {
        position: relative;
        top: 15px;
        font-size: 2.5rem;
        z-index: 2;
    }
}
@media screen and (max-width: 1080px) {
    .nav_main_side_menu_button:hover {
        position: relative;
        top: 16px;
        font-size: 2.5rem;
        float: left;
        
        filter: none;
    }
}

/*  Menu Bar Links  */
@media screen and (max-width: 1080px) {
    .nav_main_links a {
        position: relative;
        top: 9px;
    }
}



/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/*                      Home Page                     */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

@media screen and (max-width: 1080px) {
    .article_home_h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 1080px) {
    .article_home_hr{
        position: relative; 
        bottom: 0.25rem; 
        width: 108px;
    }
}

@media screen and (max-width: 1080px) {
    .div_home_a {
        display: grid;
        padding: 0vh;
    }
}

@media screen and (max-width: 1080px) {
    .a_home_box {
        align-content: center;
        margin: 2vh;
        padding: 2vh;
        background-color: rgba(25, 25, 25, 0.77);
        border: 1px solid #dddddd;
        border-radius: 5px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 1.5rem;
        line-height: 0.1rem;
    }
}
@media screen and (max-width: 1080px) {
    .a_home_box:hover {
        color: #ffffff;
        padding: 2vh;
        background-color: #1b1b1b;
        box-shadow: 0px 2px 15px #ffffff;
        border: 1px solid #dddddd;
        border-radius: 5px;
        font-size: 1.5rem;
        z-index: 2;
    }
}

@media screen and (max-width: 1080px) {
    .a_home_box_2 {
        align-content: center;
        margin: 2vh;
        padding: 2vh;
        background-color: rgba(25, 25, 25, 0.77);
        border: 1px solid #dddddd;
        border-radius: 5px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 1.5rem;
        line-height: 0.1rem;
    }
}
    
@media screen and (max-width: 1080px) {
    .a_home_box_2:hover {
        color: #ffffff;
        padding: 2vh;
        background-color: #1b1b1b;
        box-shadow: 0px 2px 15px #ffffff;
        border: 1px solid #dddddd;
        border-radius: 5px;
        font-size: 1.5rem;
        z-index: 2;
    }
}

@media screen and (max-width: 1080px) {
    .a_home_box_blank {
        flex: 1;
        margin: 0vh 0vw 0vh 0vw;
        padding: 0vh;
        background-color: #262626;
        border: 0px solid #262626;
        border-radius: 0px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        font-size: 0rem;
        line-height: 0rem;
        z-index: 4;

    }
}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/*                   About Me Page                    */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

@media screen and (max-width: 1080px) {
    .aboutme_header_img{
        transform: scale(0.83); 
        z-index: 0;
    }
}

@media screen and (max-width: 1080px) {
    .aboutme_article{
        position: relative;
        bottom: 100px;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 1080px) {
    .aboutme_article_h1{

        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1080px) {
    .aboutme_article_hr{
        position: relative; 
        bottom: 1.5rem; 
        width: 100px;
    }
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/*               Under Construction Page              */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

@media screen and (max-width: 1080px) {
    .UC_article {
        line-height: 200px; 
        min-height: 320px;
    }
}
@media screen and (max-width: 1080px) {
    .UC_article_p {
        display: inline-block; 
        vertical-align: middle; 
        font-size: 2rem;
    }
}
